body {
  background: linear-gradient(to bottom, rgba(239,151,111,0.85) 59%,rgba(220,190,125,0.85) 100%), url('bg.jpg') no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  overflow: hidden;
}

.container {
  width: 1024px;

}

.inner {
  display: table;
  height: 100vh;
  width: 100%;
}

.outer {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.circle{
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

.middle{
  margin-bottom: 20px;
  margin-top: 20px;
  
}

